.sidebar
  .sidebar__name
    = current_user.name
    %ul.font-icon
      %li
        = link_to new_group_path do
          = fa_icon 'pencil-square-o', class: 'icon'
      %li
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'
  .side-group
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .side-group_list_name
          .side-name
            = group.name
          .side-text
            メッセージはまだありません。
